@{
    ViewBag.Title = "Jess Carr Entertainment";
}

<div class="jumbotron">
    <h1>Jess Carr Entertainment (JCE)</h1>
    <p class="lead">Like TLC, but different</p>
    <p><a href="https://northavondalecincinnati.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           I will use this website to highlight some of my favorite streamers, podcast, books, music. you know that kinda stuff, just straight content.
        </p>
        <p><a class="btn btn-default" href="https://www.instagram.com/_jesscarr_/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Squad</h2>
        <p>Its not set up but this will be where you can check out the team.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upcoming</h2>
        <p>This is where i will put upcoming events to check out.</p>
        <p><a class="btn btn-default" href="https://www.pgatour.com/news/2020/05/24/live-updates-scores-the-match-tiger-woods-phil-mickelson-tom-brady-peyton-manning-medalist-golf-club-coronavirus-covid-19-relief.html">The Match &raquo;</a></p>
    </div>
</div>