@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>

<head>

    <title>w8thisez</title>
</head>

<body>
    @*<select name=”clr” onchange=”document.bgColor =this.options[this.selectedIndex].value” size=”1″>
        <br>
        <option value=”black”>black
        <option value=”orange”>orange
        <option value=”flamingred”>fuschia
        <option value=”lightyellow”>light yellow
        <option value=”green”>green
        <option value=”cyan”>cyan
        <option value=”yellow”>yellow
        <option value=”red”>red
        <option value=”white”>white</option>
    </select>&nbsp;&nbsp;Background Color*@

    <br>
    <select name=”clr” onchange=”document.fgColor =this.options[this.selectedIndex].value” size=”1″>
        <br>
        <option value=”black”>black
        <option value=”orange”>orange
        <option value=”flamingred”>fuschia
        <option value=”lightyellow”>light yellow
        <option value=”cyan”>cyan
        <option value=”yellow”>yellow
        <option value=”red”>red
        <option value=”white”>white</option>
    </select>&nbsp;&nbsp;Text Color
    <nav>
        <a href="./index.html">Subscribe</a>
        <a href="./aboutme.html">About Us</a>
    </nav>
    <marquee><h1>W8thisEZ</h1></marquee>
    <img alt="" class="media-image" src="https://pbs.twimg.com/media/DLuGtuzW0AAUhnK.jpg:large" data-height="1242" data-width="1242" style="width: 751px; height: 751px; margin-top: 0px; margin-bottom: 0px;">
    <nav>
        <ul>
            <li><a href="#playlists">playlists</a></li>
            <li><a href="#the market">the market</a></li>
            <li><a href="#media">media</a></li>
        </ul>
    </nav>
    <div id="playlists">
        <h2>playlists</h2>
        <p>Here at w8thisez we enjoy good music.<br /><br /> Spread the word and music.</p>
        <a href="https://twitter.com/w8thisez" target="_blank">Learn More</a>
        <h3>As of April 29, 2018</h3>
        <ul>
            <li><a href="https://itunes.apple.com/us/playlist/5/idpl.u-pMyllEYix6b10V" target="_blank">•5• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/14/idpl.u-r2yBBeEsANbvqM" target="_blank">•8• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/9/idpl.u-EdAVVGdu5308GW" target="_blank">•9• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/10/idpl.u-MDAWWE9TJjYpRZ" target="_blank">•10• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/17/idpl.u-MDAWWPNTJjYpRZ" target="_blank">•11• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/12/pl.u-XkD0YzrHRj7vN1" target="_blank">•12• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/13/pl.u-XkD0Y0EtRj7vN1" target="_blank">•13• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/14/pl.u-yZyVPVAF9p5yWV" target="_blank">•14• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/15/pl.u-qxyl0PMF04qvla" target="_blank">•15• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/16/pl.u-4JomKEJTGr7xjE" target="_blank">•16• by Ian Patton</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-4/idpl.u-11zBXaoibYz07d" target="_blank">XXX.4 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-5/idpl.u-38oWXa4uLpVyNJ" target="_blank">XXX.5 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-6/idpl.u-e98llj5IdDoG1L" target="_blank">XXX.6 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-7/idpl.u-mJy88R4FD7pZaP" target="_blank">XXX.7 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-8/idpl.u-V9D77vJc65mYaXz" target="_blank">XXX.8 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-9/pl.u-9N9LLJpIaqVN4P" target="_blank">XXX.9 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-10/pl.u-JPAZZ9mCGgaxBo" target="_blank">XXX.10 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-11/pl.u-76oNNd3TG0B3P6" target="_blank">XXX.11 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-12/pl.u-JPAZZKVuGgaxBo" target="_blank">XXX.12 by Nathan Stroud</a></li>
            <li><a href="https://itunes.apple.com/us/playlist/xxx-13/pl.u-d2b00GVs4v3rgV" target="_blank">XXX.13 by Nathan Stroud</a></li>
        </ul>
        <h3>Available On</h3>
        <p>Only Apple Music as of now.</p>
    </div>

    <div id="the market">
        <h2>the market</h2>
        <h3>currently nothing for sale</h3>
        <h3>please contact us at w8thisez@gmail.com.</p>
    </div>

    <div id="media">
        <h2>Media</h2>
        @*<blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/JIDsv?ref_src=twsrc%5Etfw"></a> awesome show and thanks for the shoutout 🙏🏽🙏🏽 <a href="https://t.co/cNbkGNr5iI">pic.twitter.com/cNbkGNr5iI</a></p>&mdash; w8thisez🤷🏽‍♂️ (@w8thisez) <a href="https://twitter.com/w8thisez/status/985569547389493249?ref_src=twsrc%5Etfw">April 15, 2018</a></blockquote>*@
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <marquee>Make it scroll, baby!</marquee>


    </div>
</body>

</html>
