@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Podcasts to listen to: https://www.himalaya.com/playlists/July%2010%2C%202019%20(Classics)-12151?Influencer_uid=1093557&Share_from=Web&Share_to=copylink</h3>
