@{
    ViewBag.Title = "Streams to follow";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>
    @*One Microsoft Way<br />
        Redmond, WA 98052-6399<br />*@
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=tSWgqX2as3I" frameborder="0" allowfullscreen></iframe>
    </iframe>


    <strong>GDog's Stream</strong>   <a href="https://mixer.com/GDog_22WH">GDog_22WH</a><br />
</h3>

